nav {
    width: 100%;
    padding: 1em;
    text-align: center;
    background-color: blanchedalmond;
}
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: blanchedalmond;
}
.home-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    width: 100%;
}
.home-box {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 2%;
    margin: 1%;
    background-color: blanchedalmond;
    background-clip: padding-box;
    border-radius: 15px;
}
a {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
p {
    font-family: Arial, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: lightgray;
    height: 100vh;
    margin: 10px;

    background-image: url('/Assets/Images/recipes.jpg');
    /* Control how the background behaves */
    background-size: cover; /* Cover the entire element */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Prevent image from repeating */
}
.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* li {
    display: flex;
    align-items: center;
    margin: 10px 0;

    line-height: 30px;

    list-style: bullet;
}
 */
