.add-content{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    margin: 3%;
    border-radius: 15px;
    padding: 2%;
}
.add-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: blanchedalmond;
}
.add-and-remove {
    display: flex;
    flex-direction: row;
}
.list-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: blanchedalmond;
}