.home-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    width: 100%;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.home-box {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 2%;
    margin: 1%;
    background-color: blanchedalmond;
    background-clip: padding-box;
    border-radius: 15px;
}
a {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
p {
    font-family: Arial, sans-serif;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* li {
    display: flex;
    align-items: center;
    margin: 10px 0;

    line-height: 30px;

    list-style: bullet;
}
 */
