/* main { */
    /* background-image: url('../../public/recipes.jpg'); */
    /* Control how the background behaves */
    /* background-size: cover; Cover the entire element */
    /* background-position: center; Center the image */
    /* background-repeat: no-repeat; Prevent image from repeating */
/* } */
.add-content{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    margin: 3%;
    border-radius: 15px; 
    /* rounded corners */
    padding: 2%;
}
.add-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: blanchedalmond;
}
.add-and-remove {
    display: flex;
    flex-direction: row;
}
.list-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: blanchedalmond;
}